ALGOD_NODE_URL=http://localhost:4001/
ALGOD_TOKEN=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
A1_PP="sauce scissors carry dumb margin flame daring abstract advice truck auto gallery payment laptop doll uncover away chef add drill mother sort only ability title"
A2_PP="judge saddle omit saddle east kind sponsor quality sound off hedgehog desert front more spell image photo wisdom bracket uniform donate satoshi bacon able credit"
PORT=3000